body {
    text-align: center;
}

.header {
    color: FloralWhite;
    background-color: DarkCyan;
    padding: 30px;
    width: 75%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.winCounter, .lossCounter {
    color: black;
    background-color: Gainsboro;
    padding: 20px;
    width: 45%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.guessesLeft, .guessesSoFar {
    color: FloralWhite;
    background-color: Maroon;
    padding: 20px;
    width: 45%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#guess {
    border-style: solid;
    border-color: FloralWhite;
    border-width: thin;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
    text-align: center;
}